<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>PC437(Std.Europe)</string>
	<key>1</key>
	<string>Katakan</string>
	<key>2</key>
	<string>PC850(Multilingual)</string>
    <key>3</key>
    <string>PC860(Portugal)</string>
    <key>4</key>
    <string>PC863(Canadian)</string>
    <key>5</key>
    <string>PC865(Nordic)</string>
    <key>6</key>
    <string>West Europe</string>
    <key>7</key>
    <string>Greek</string>
    <key>8</key>
    <string>Hebrew</string>
    <key>9</key>
    <string>East Europe</string>
    <key>10</key>
    <string>Iran</string>
    <key>16</key>
    <string>WPC1252</string>
    <key>17</key>
    <string>PC866(Cyrillic#2)</string>
    <key>18</key>
    <string>PC852(Latin2)</string>
    <key>19</key>
    <string>PC858</string>
    <key>20</key>
    <string>ranII</string>
    <key>21</key>
    <string>Latvian</string>
    <key>22</key>
    <string>Arabic</string>
    <key>23</key>
    <string>PT1511251</string>
    <key>24</key>
    <string>PC747</string>
    <key>25</key>
    <string>WPC1257</string>
    <key>27</key>
    <string>Vietnam</string>
    <key>28</key>
    <string>PC864</string>
    <key>29</key>
    <string>PC1001</string>
    <key>30</key>
    <string>Uigur</string>
    <key>31</key>
    <string>Hebrew</string>
    <key>32</key>
    <string>WPC1255(Israel)</string>
    <key>33</key>
    <string>WPC1256</string>
    <key>50</key>
    <string>PC437(Std.Europe)</string>
    <key>51</key>
    <string>Katakana</string>
    <key>52</key>
    <string>PC437(Std.Europe)</string>
    <key>53</key>
    <string>PC858(Multilingual)</string>
    <key>54</key>
    <string>PC852(Latin-2)</string>
    <key>55</key>
    <string>PC860(Portuguese)</string>
    <key>56</key>
    <string>PC861(Icelandic)</string>
    <key>57</key>
    <string>PC863(Canadian)</string>
    <key>58</key>
    <string>PC865(Nordic)</string>
    <key>59</key>
    <string>PC866(Russian)</string>
    <key>60</key>
    <string>PC855(Bulgarian)</string>
    <key>61</key>
    <string>PC857(Turkey)</string>
    <key>62</key>
    <string>PC862(Hebrew)</string>
    <key>63</key>
    <string>PC864(Arabic)</string>
    <key>64</key>
    <string>PC737(Greek)</string>
    <key>65</key>
    <string>PC851(Greek)</string>
    <key>66</key>
    <string>PC869(Greek)</string>
    <key>67</key>
    <string>PC928(Greek)</string>
    <key>68</key>
    <string>PC772(Lithuanian)</string>
    <key>69</key>
    <string>PC774(Lithuanian)</string>
    <key>70</key>
    <string>PC874(Thai)</string>
    <key>71</key>
    <string>WPC1252(Latin-1)</string>
    <key>72</key>
    <string>WPC1250(Latin-2)</string>
    <key>73</key>
    <string>WPC1251(Cyrillic)</string>
    <key>74</key>
    <string>PC3840(IBM-Russian)</string>
    <key>75</key>
    <string>PC3841(Gost)</string>
    <key>76</key>
    <string>PC3843(Polish)</string>
    <key>77</key>
    <string>PC3844(CS2)</string>
    <key>78</key>
    <string>PC3845(Hungarian)</string>
    <key>79</key>
    <string>PC3846(Turkish)</string>
    <key>80</key>
    <string>PC3847(Brazil-ABNT)</string>
    <key>81</key>
    <string>PC3848(Brazil)</string>
    <key>82</key>
    <string>PC1001(Arabic)</string>
    <key>83</key>
    <string>PC2001(Lithuan)</string>
    <key>84</key>
    <string>PC3001(Estonian-1)</string>
    <key>85</key>
    <string>PC3002(Eston-2)</string>
    <key>86</key>
    <string>PC3011(Latvian-1)</string>
    <key>87</key>
    <string>PC3012(Tatv-2)</string>
    <key>88</key>
    <string>PC3021(Bulgarian)</string>
    <key>89</key>
    <string>PC3041(Maltese)</string>
    <key>255</key>
    <string>Thai</string>
</dict>
</plist>
